player-connection-mode=Listen
player-connection-guid=411056545
player-connection-debug=0
player-connection-project-name=inzynierka
player-connection-ip=192.168.0.247
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=25a19132cb9f4dc7a7b109b9e6b0e0f7
